
/*FLEXBOX*/
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-rows {
    width: 45%;
    height: 300px;
    position: relative;
    margin-top: 1em;
    box-shadow: 0 0 34px -8px rgba(0,0,0,0.69);
}

.flex-rows div {
    width: 40%;
    /*height: 20px;*/
    text-align: center;
    border-right: 1px solid #626262;
}
.flex-rows div:nth-child(3) {
    width: 10%;
}


.flex-rows div:last-child {
    border-right: none;
    width: 10%;
}

.rowComplead {
    background: greenyellow;
}

.doneButton {
    cursor: pointer;
    background-color: rgba(34, 145, 34, 0.66);
    font-weight: bolder;
    color: white;

}

.test {
    padding: 0;
    margin: 0;
    height: 100%;
}

.doneButton:hover {
    background-color: #caff30;
    color: #423f41;
}

.removeButton {
    cursor: pointer;
    background-color: rgb(247, 100, 88);
    color: #423f41;
    font-weight: bold;

}

.removeButton:hover {
    background-color: #ff1c24;
}

.filter-popup {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 50%;
    left: 50%;
    text-align: center;
    vertical-align: middle;
    color: #423f41;
    font-weight: 900;
    z-index: 10;
    padding-top: 40px;
    font-size: 20px;
    margin-left: -100px;
    margin-top: -50px;
}